/* CSS */
/* IMPORTS */
@import url("assets/css/basic structure.css");
@import url("assets/css/pallets.css");

/* YOUR CSS */
body {
	background-color: #0C0C0C;
}

header {
	display: flex;
	width: 100vw;
	height: 10vh;
	justify-content: center;
	align-items: center;
	border-bottom: solid 1px;
}
header h2 {
	text-align: center;
}
main {
	width: 100vw;
	height: 80vh;
	display: grid;
	justify-items: center;
	align-items: center;
}
main img {
	border-radius: 10px;
}
footer {
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: top;
}
.footer-links {
	width: 40vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #f9f9f9;
}
.links {
	width: 40vw;
	display: flex;
	justify-content: space-evenly;
}
