/* CSS */
/* IMPORTS */
@import url("assets/cssGlobal/basic_structure.css");	/* Required */
@import url("assets/cssGlobal/fonts_db.css");			/* Required */

@import url("assets/cssGlobal/pallets.css");			/* Optional */

/* YOUR CSS */
:root { 
	color-scheme: light dark;
}
body {
	background-color: light-dark(#F5F5F5, #0C0C0C);
	font-family: InterVariable, sans-serif;
}

header {
	display: flex;
	width: 100vw;
	height: 10vh;
	justify-content: center;
	align-items: center;
	border-bottom: solid 1px;
}
header h2 {
	text-align: center;
}
main {
	width: 100vw;
	height: 75vh;
	display: grid;
	justify-items: center;
	align-items: center;
}
main img {
	border-radius: 10px;
}
footer {
	width: 100vw;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: top;
}
.footer-links {
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #f9f9f9;
}
.links {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}
