/* BASIC STRUCTURE */
/* CSS */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    transition:  background-color 0.6s, color 0.4s;
}

:root {
    color-scheme: light dark;
    --primary-bg: light-dark(#FCEF91, #6B240C);
    --primary-tx: light-dark(#E6521F, #E48F45);
    --secondary-bg: light-dark(#FB9E3A, #994D1C);
    --secondary-tx: light-dark(#EA2F14, #F5CCA0);

    --tertiary-bg: light-dark(#E6521F, #E48F45);
    --tertiary-tx: light-dark(#FCEF91, #6B240C);
    --quaternary-bg: light-dark(#EA2F14,#F5CCA0 );
    --quaternary-tx: light-dark(#FB9E3A, #994D1C);

    --link-tx: light-dark(#093FB4, #00CAFF);
    --link-tx-sec: light-dark(#00CAFF, #093FB4);

    height: 100vh;
    line-height: 1.5;
}
body, main, section {
    background-color: var(--color-bg);
    color: var(--color-text);
}
header, footer {
    background-color: var(--color-primary);
    color: var(--color-text);
}
button, a, .btn {
    background-color: var(--color-secondary);
    color: var(--color-text);
}
/*
a {
text-decoration: none;
color: #007AFF;
}

button {
border: none;
cursor: pointer;
transition: background-color 0.35;
padding: 10px 15px;
}
 */
